<html>
    <title>App Enquete</title>
</html>
    <body>
            <h1>Categoria: {{ categoria.titulo }}</h1>
            <u>Data publicação</u>: {{ categoria.data_publicacao }}
            <h3>Perguntas relacionadas a essa categoria:</h3>

            {% for p in pergunta %}
                <li>
                    <a href="{% url 'main:detalhes' p.id %}" > {{ p.texto }}</a>
                </li>
            {% endfor %}

            <hr/>
             <a href="{% url 'main:index' %}">Retornar a página principal</a>
    </body>
</html>
