﻿{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>DevBlog - Personal Blog Template</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'enquete2/mages/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{% static 'enquete2/images/favicon/apple-touch-icon.png' %}">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'enquete2/css/plugin.css' %}">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'enquete2/css/style.css' %}">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">    

  </head>

 <body>

	
     
	 <!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">
                 
                 <!-- About Me (Left Sidebar) Start -->
                 <div class="col-md-3">
                   <div class="about-fixed">
                    
                     <div class="my-pic">
                        <img src="{% static 'enquete2/images/pic/my-pic.jpeg' %}" alt="">
                        <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                        <div id="menu" class="collapse">
                          <ul class="menu-link">
                            <li><a href="{% url 'enquete2:index' %}">Início</a></li>
                            <li><a href="{% url 'enquete2:about' %}">Sobre mim</a></li>
                            <li><a href="{% url 'enquete2:contact' %}">Contato</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="my-detail">
                    	
                        <div class="white-spacing">
                            <h1>Guilherme Santos</h1>
                            <span>Web Developer</span>
                        </div> 
                       
                        <ul class="social-icon">
                          <li><a href="https://www.facebook.com/guilherme.pinto.35728" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://twitter.com/_gspgui_" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://www.linkedin.com/in/guilherme-pinto-89893418a/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="https://github.com/Gui-Gsp" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                         </ul>

                    </div>
                  </div>
                </div>
                <!-- About Me (Left Sidebar) End -->

                 <!-- Contact (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>Contate-me</h2>
                                <a href="{% url 'enquete2:index' %}"><i class="icon-home"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                
                                <!-- Intro Start -->
                                <div class="post-title margin-bottom-10">
                                   <h1>Querendo entrar<span class="main-color"> em contato comigo</span>?</h1>
                                   </div>
                                   
                                  <p>Só preencher esses campos aí em baixo que em pouco tempo responderei e falarei contigo.</p>
                                     <!-- Intro End -->

                               <!-- Contact Me Start -->
                               <div class="post-title margin-top-70">
                                  <h1>Contate-<span class="main-color">Me</span></h1>
                                 </div>
                                   
                                   
                                 <div class="row">
            
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">  
                                      <i class="icon-screen-smartphone color-6"></i>
                                      <p><a href="tel:+1234567890">+1234 567 890</a></p>
                                    </div>
                                   </div>
               
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-envelope-open color-5"></i>
                                      <p><a href="mailto:name@domain.com">name@domain.com</a></p>
                                    </div>
                                   </div>
                 
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-clock color-3"></i>
                                      <p>Mon - Fri 09:00 – 18:00</p>
                                    </div>
                                  </div>
              
                                </div>
            
         
                                <div class="row margin-top-30">
                                  <div class="col-md-12">   
                 
                                  <div class="row">
                                   <form>
                    
					                <div class="col-sm-6">
						              <div class="form-group">
						               <input type="text" id="name" class="form-control" placeholder="Seu nome">
						              </div>
                                     </div>
								
                                    <div class="col-sm-6">
					                  <div class="form-group">
						               <input type="email" id="email" class="form-control" placeholder="Seu email">
						              </div>
                                     </div>
                        
                                    <div class="col-sm-6">
						              <div class="form-group">
							           <input type="text" id="website" class="form-control" placeholder="Seu WebSite">
						              </div>
                                     </div>
                          
                                    <div class="col-sm-6">
						              <div class="form-group">
							           <input type="text" id="address" class="form-control" placeholder="De onde você veio?">
						              </div>
                                     </div>

                                    <div class="col-sm-12">
                                      <select id="subject" class="form-group form-control">
                                        <option value="" selected disabled>Assunto</option>
                                        <option>Quero falar coisas em geral</option>
                                        <option>Outros</option>
                                      </select>
                                    </div>
								
                                    <div class="col-sm-12">
					                  <div class="textarea-message form-group">
					                    <textarea id="message" class="textarea-message form-control" placeholder="Sua mensagem" rows="5"></textarea>
						            </div>
                                   </div>
                   
                   
                                <div class="text-center">      
		                          <button type="submit" class="load-more-button">Send</button>
	                             </div>
                       
                                 </form>
                                </div>
                              </div>
                             </div>
                             <!-- Contact Me End -->
                                
                         
                         </div>
                        </div>
                       </div>
                           
                         </div>

                       
                       <!-- Footer Start -->
                       <div class="col-md-12 page-body margin-top-50 footer">
                          <footer>
                          <ul class="menu-link">
                               <li><a href="{% url 'enquete2:index' %}">Início</a></li>
                               <li><a href="{% url 'enquete2:about' %}">Sobre mim</a></li>
                               <li><a href="{% url 'enquete2:contact' %}">Contato</a></li>
                            </ul>
                            
                          <p>© Copyright 2016 DevBlog. All rights reserved</p>
						  
						  
						  <!-- UiPasta Credit Start -->
                          <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                          <!-- UiPasta Credit End -->
						  
                           
                         </footer>
                       </div>
                       <!-- Footer End -->
 
                  </div>
                  <!-- Contact (Right Sidebar) End -->
                
            </div>
         </div>
      </div>

    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
  
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="{% static 'enquete2/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'enquete2/js/plugin.js' %}"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="{% static 'enquete2/js/scripts.js' %}"></script>

   </body>
 </html>
