{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>DevBlog - Personal Blog Template</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'enquete2/images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{% static 'enquete2/images/favicon/apple-touch-icon.png' %}">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'enquete2/css/plugin.css' %}">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'enquete2/css/style.css' %}">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">

  </head>

 <body>

	 <!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->

    <div id="main">
        <div class="container">
            <div class="row">

                 <!-- About Me (Left Sidebar) Start -->
                 <div class="col-md-3">
                   <div class="about-fixed">
                    
                     <div class="my-pic">
                        <img src="{% static 'enquete2/images/pic/my-pic.jpeg' %}" alt="">
                        <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                         <div id="menu" class="collapse">
                           <ul class="menu-link">
                              <li><a href="{% url 'enquete2:index' %}">Início</a></li>
                              <li><a href="{% url 'enquete2:about' %}">Sobre mim</a></li>
                              <li><a href="{% url 'enquete2:contact' %}">Contato</a></li>
                            </ul>
                         </div>
                        </div>

                      <div class="my-detail">
                    	
                        <div class="white-spacing">
                            <h1>Guilherme Santos</h1>
                            <span>Web Developer</span>
                        </div> 
                       
                       <ul class="social-icon">
                         <li><a href="https://www.facebook.com/guilherme.pinto.35728" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="https://twitter.com/_gspgui_" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                         <li><a href="https://www.linkedin.com/in/guilherme-pinto-89893418a/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                         <li><a href="https://github.com/Gui-Gsp" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                        </ul>

                    </div>
                  </div>
                </div>
                <!-- About Me (Left Sidebar) End -->

                <!-- Blog Post (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">

                          <div class="sub-title">
                            <h1>NuncaEsqueça</h1>
                            <a href="{% url 'enquete2:contact' %}"><i class="icon-envelope"></i></a>
                            <h4>Minha aplicação é simplesmente colocar várias categorias de coisas que eu não quero esquecer e/ou manter
                                guardado.
                            </h4>                         			
                          </div>

                            <div class="col-md-12 content-page">

                              <!-- Blog Post Start -->
                              <div class="col-md-12 blog-post">

                                <div class="post-title">
                                  <h2>{{ topico.texto }}</h2></a>
                                </div> 

                                <div class="post-info">
                                  <span> {{ topico.data_publicacao }} por <a href="{% url 'enquete2:contact' %}" target="_blank">Guilherme Santos</a></span>
                                </div>  
                                
                                <h4>{{ topico.descricao }}</h4>                         			

                                <!-- Post List Style Start -->
                                <div class="list">
                                  <ul>
                                    {% for o in topico.opcao_set.all %}
                                      <li>{{ o.texto }}</li>
                                    {% endfor %}
                                  </ul>
                                </div>
                                <!-- Post List Style End -->

                              </div>
                              <!-- Blog Post End --> 
                              <a href="{% url 'enquete2:topico' 1 %}" class="button button-style button-anim fa fa-long-arrow-right"><span>Mais categorias</span></a>
                            </div>
                              
                      </div>
 
                    </div>

                       <!-- Footer Start -->
                       <div class="col-md-12 page-body margin-top-50 footer">
                          <footer>
                          <ul class="menu-link">
                               <li><a href="{% url 'enquete2:index' %}">Início</a></li>
                               <li><a href="{% url 'enquete2:about' %}">Sobre mim</a></li>
                               <li><a href="{% url 'enquete2:contact' %}">Contato</a></li>
                            </ul>
                            
                          <p>© Copyright 2016 DevBlog. All rights reserved</p>

						  <!-- UiPasta Credit Start -->
                          <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
                          <!-- UiPasta Credit End -->

                           
                         </footer>
                       </div>
                       <!-- Footer End -->
                     
                     
                  </div>
                  <!-- Blog Post (Right Sidebar) End -->
                
            </div>
         </div>
      </div>
    
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
    
    
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="{% static 'enquete2/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'enquete2/js/plugin.js' %}"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="{% static 'enquete2/js/scripts.js' %}"></script>

   </body>
 </html>
